fastapi~=0.135.1
uvicorn[standard]~=0.42.0
sqlalchemy~=2.0.48
pymysql
pydantic-settings
requests~=2.34.2
bcrypt~=5.0.0
PyJWT~=2.12.1
redis~=8.0.0
celery~=5.6.3
pydantic~=2.12.5
locust~=2.44.0
prometheus-fastapi-instrumentator~=8.0.2
